<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">

    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <title>WebApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class='logo-container'>tryppr.</div>
      <div class='navbar'>
        <%= link_to "Search", root_path, class: "selected"  %>
        <%= link_to "About", about_path  %>
      </div>
      <div class='account-image'></div>
    </header>
    <div class='login-image hidden'></div>
    <%= yield %>
  </body>
</html>
